!!!
%html
  %head
    %title HappyJournal
    -# = stylesheet_link_tag    '//fonts.googleapis.com/css?family=Raleway:400,300,600'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    - unless hide_navbar
      .container.navbar-container
        .navbar-spacer
        .navbar
          %h3 Happy Journal
          %ul.navbar-links
            %li= link_to "My Entries", "#"
            %li= link_to "New Entry", "#"
    .container
      = yield
